#mac crap
.DS_Store
.AppleDouble
 
# ignore a lock file if you are testing
fortunesbyemail.sh.lck

# ignore the customHeader script
customHeader.sh

# ignore the conf file
fortunesbyemail.conf

# ignore the .dat
*.dat
